<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWU9vWkzGNgtjGhHqM4NxjLmooLwlAhu4</string>
	<key>GCM_SENDER_ID</key>
	<string>569498901859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.accessbankplc.converge</string>
	<key>PROJECT_ID</key>
	<string>converge-f0937</string>
	<key>STORAGE_BUCKET</key>
	<string>converge-f0937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569498901859:ios:75cc63e6dd4ce63f708756</string>
</dict>
</plist>